body {
    --primary-color-faded: rgba(61, 125, 66, 0.5);
    --primary-color-pale: rgb(206, 255, 206);
    --primary-color: rgb(22, 204, 22);
    --primary-color-dark: rgb(6, 21, 7);
    --primary-color-ts: rgb(70, 99, 70);
    --primary-color-disabled: rgb(138, 152, 138);

    font-family: "Share Tech Mono", monospace;
    background-color: var(--primary-color-dark);
    /* background-size: 200%; */
    color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* animation: backdropCycle 4s linear infinite forwards; */
    font-size: 16px;
    line-height: 1.4em;
}
input {
    caret-shape: block;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-family: "Share Tech Mono", monospace;
    font-size: 16px;
}
input:focus {
    outline: none;
}
@keyframes backdropCycle {
    from {
        transform: translateX(0px) translateY(0px);
        /* background-position: 0px 0px; */
    }
    to {
        transform: translateX(0px) translateY(54px);
        /* background-position: 0px 54px; */
    }
}
@keyframes staticMove {
    0% {
        transform: translateX(-50px) translateY(12px);
        /* background-position: -50px 12px; */
    }
    25% {
        transform: translateX(37px) translateY(-54px);
        /* background-position: 37px -54px; */
    }
    50% {
        transform: translateX(352px) translateY(59px);
        /* background-position: 352px 59px; */
    }
    75% {
        transform: translateX(-132px) translateY(-35px);
        /* background-position: -132px -35px; */
    }
    100% {
        transform: translateX(93px) translateY(-63px);
        /* background-position: 93px -63px; */
    }
}
a {
    color: var(--primary-color);
}
a:hover {
    background-color: var(--primary-color-pale);
}
#terminal-input {
    width: 95%;
}
#terminal-loady {
    font-size: 16px;
}
.datablock-head {
    font-size: 24px;
}
.datablock-top {
    font-size: 19px;
}
.datablock-txt {
    font-size: 16px;
}
.datablock-ts {
    font-size: 12px;
    color: var(--primary-color-ts);
}
.colors-good {
    color: rgb(22, 204, 22);
}
.colors-warn {
    color: rgb(223, 223, 9);
}
.colors-issue {
    color: rgb(200, 10, 10);
}

.activitysearch-head {
    font-size: 24px;
}
.activitysearch-top {
    font-size: 20px;
}
.activitysearch-mid {
    font-size: 16px;
}

#sim-data-full {
    height: calc(100vh - 28px);
    width: calc(100vw - 28px);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
    overflow-y: auto;
    scrollbar-color: var(--primary-color) transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.overlay {
    background: repeating-linear-gradient(179deg, transparent, transparent 50px, var(--primary-color-faded) 50px, var(--primary-color-faded) 54px);
    /* background-size: 200%; */
    height: 200vh;
    width: 200vw;
    animation: backdropCycle 4s linear infinite forwards;
    z-index: 999;
    pointer-events: none;
    position: absolute;
    top: -50vh;
    left: -50vw;
}
.computer-overlay {
    animation: staticMove 0.1s linear infinite alternate;
    --dist: 0.0003px;
    position: absolute;
    width: 200vw;
    height: 200vh;
    z-index: 1000;
    pointer-events: none;
    top: -50vh;
    left: -50vw;
    /* backdrop-filter: url(#vertical-skew-filter); */
    background-image: repeating-radial-gradient(
        #888888,
        var(--dist),
        #888888,
        0,
        #88888800,
        calc(var(--dist) * 5),
        #88888800 0
    );
    opacity: 0.2;
}

#main-auth-container {
    padding: 20px;
}
button {
    padding: 2px 0px;
    width: 25ex;
    font-family: "Share Tech Mono", monospace;
    font-size: 16px;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: left;
}
button:disabled {
    color: var(--primary-color-disabled) !important;
}
button:not(:disabled):hover {
    background-color: var(--primary-color-pale);
}
.arrow-selected:not(:disabled) {
    background-color: var(--primary-color-pale);
}
.arrow-selected:disabled {
    background-color: var(--primary-color-disabled);
}

.hidden {
    display: none;
    width: 0;
    height: 0;
    backdrop-filter: none !important;
}

#stats-holder {
    position: absolute;
    text-align: right;
    top: 15px;
    right: 15px;
}