body{
    /* background-color: rgb(27, 73, 101); */
    background-image: linear-gradient(rgb(6, 0, 90), rgb(12, 0, 121));
    margin: 0;
}
h1 {
    color: rgb(255, 166, 0);
    font-size: 32px;
    font-family: 'Playpen Sans', cursive;
}
h2 {
    color: rgb(255, 166, 0);
    font-size: 28px;
    font-family: 'Playpen Sans', cursive;
}
p {
    font-size: 18px;
    color: rgb(245, 133, 73);
    font-family: 'Playpen Sans', cursive;
}
a {
    color: rgb(0, 140, 255);
}

footer {
    text-align: center;
    font-family: 'Playpen Sans', cursive;
    padding: 20px;

}
header {
    text-align: center;
    padding: 20px;
    font-family: 'Playpen Sans', cursive;
    font-size: 60px;
    border: 3px;
    border-color: aqua;
    /* background-color: rgb(7, 0, 104); */
    background-image: url("img/headspace.jpg");
}
nav {
    text-align: center;
    word-spacing: 35px;
    padding: 5px;
    font-size: 25px;
}


.spacer{
    font-size: 32px;
}


header h1 {
    font-size: 60px;
}
header a{
    color: darkblue;
}
.infobox {
    padding-left: 45%;
}

.whatido{
    background-image: linear-gradient(rgb(78, 2, 66), rgb(155, 0, 160));
}
.whatido h1{
    text-align: center;
    font-size: 40px;
}
.stuffrow {
    display: flex;
    padding-left:5%;
    padding-right: 5%;
    text-align: center;
}
  
.stuffcolumn {
    flex: 20%;
}
.tinytext {
    font-size: 12px;
}
.basictext {
    text-align: center;
}
button {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Playpen Sans', cursive;
    font-size: 28px;
    color: purple;
    background-color: rgb(189, 71, 212);
}

.useless {
    background-color: black;
}

.paused {
    background-color: rgb(138, 28, 28);
}



.moneybutton {
    font-family: 'Playpen Sans', cursive;
    font-size: 18px;
    font-size: 1.5vm;
    padding: 3px;
}

.moneybutton{
    transition: .2s;
}
.moneybutton:hover{
    transform: scale(1.05);
}
.moneybutton:active {
    transform: scale(0.9);
}

.savebutton {
    font-family: 'Playpen Sans', cursive;
    font-size: 18px;
    font-size: 1.5vm;
    padding: 3px;
    background-color: rgb(214, 209, 203);
    position: relative;
    right: 2%;
}



.buybutton {
    font-family: 'Playpen Sans', cursive;
    font-size: 18px;
    font-size: 1.5vm;
    padding: 3px;
    background-color: rgb(4, 4, 155);
    color: rgb(1, 216, 216);
    border-color: rgb(1, 1, 104);
}


.changelog {
    padding-left: 30px;
}

.topbar {
    text-align: center;
}
.interface {
    text-align: center;
}
.shop {
    text-align: center;
}
.savemenu {
    text-align: right;
    padding-right: 30px;
}
.resetbutton {
    font-family: 'Playpen Sans', cursive;
    font-size: 18px;
    font-size: 1.5vm;
    padding: 3px;
    background-color: red;
}
.exportbutton {
    font-family: 'Playpen Sans', cursive;
    font-size: 18px;
    font-size: 1.5vm;
    padding: 3px;
    background-color: rgb(235, 235, 235);
}



.achievementholder {
    font-family: 'Playpen Sans', cursive;
}
.achievementheaderno {
    font-family: 'Playpen Sans', cursive;
    font-size: 20px;
    color: rgb(129, 129, 129);
    padding-top: 30px;
    padding-bottom: 3px;
    padding-left: 20px;
}
.achievementtextno {
    font-family: 'Playpen Sans', cursive;
    font-size: 14px;
    color: rgb(92, 92, 92);
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 60px;
}

.achievementheaderyes {
    font-family: 'Playpen Sans', cursive;
    font-size: 20px;
    color: rgb(250, 142, 19);
    padding-top: 30px;
    padding-bottom: 3px;
    padding-left: 20px;
}
.achievementtextyes {
    font-family: 'Playpen Sans', cursive;
    font-size: 14px;
    color: rgb(212, 132, 28);
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 60px;
}

.keepbutton {
    background-color: green;
    font-family: 'Playpen Sans', cursive;
    font-size: 18px;
    font-size: 1.5vm;
    color: rgb(6, 83, 12);
    padding: 3px;
}
.replacebutton {
    background-color: red;
    font-family: 'Playpen Sans', cursive;
    font-size: 18px;
    font-size: 1.5vm;
    color: rgb(131, 13, 9);
    padding: 3px;
}

.catstorage {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1%;
}
.getcat {
    width: 19%;
    padding: 0.5%;
    background-clip: content-box;
    background-color: rgb(7, 7, 146);
}
.catinfo {
    text-align: center;
}

.hidden {
    display: none;
}

.changebutton {
    font-family: 'Playpen Sans', cursive;
    font-size: 18px;
    font-size: 1.5vm;
    padding: 3px;
    background-color: rgb(214, 209, 203);
    color: orange;
}

.prestige {
    text-align: center;
}

.smalltext {
    font-size: 14px;
    font-size: 1vm;
}

.prestigebutton {
    color: rgb(74, 74, 196);
}

* {
    touch-action: manipulation;
}

.catalogue {
    display: flex;
    text-align: center;
}
.catentry {
    width: 10%;
    padding: 0.5%;
}
.cattext {
    font-size: 16px;
    font-size: 1.5vm;
}
.cattext2 {
    font-size: 9px;
    font-size: 0.75vm;
}
.catimg {
    width: 90%;
    height: auto;
}

.greytext {
    color: grey !important;
}
.catatier {
    display: flex;
    text-align: center;
    justify-content: center;
}
.flexhidden {
    visibility: hidden;
}


.prestigeprogress {
    border-radius: 7px; 
    width: 20%;
    height: 22px;
    padding-bottom: 20px;
    box-shadow: 1px 1px -19px rgba( 0, 0, 0, 0.2 );
  }
.prestigeprogress::-webkit-progress-bar {
    background-color: rgb(77, 51, 19);
    border-radius: 7px;
}
.prestigeprogress::-webkit-progress-value {
    background-color: rgb(255, 166, 0);
    border-radius: 7px;
    box-shadow: 1px 1px 5px 2px rgba(180, 96, 1, 0.8);
}
.prestigebutton {
    width: 7.5%;
    height: auto;
    align-items: center;
}

.prestigebonus {
    display: flex;
    justify-content: center;
}
.prestigeno {
    color: grey;
    width: 4%;
    padding: 0.5%;
    font-size: 10px;
}
.prestigeyes {
    color: rgb(255, 145, 0);
    width: 4%;
    padding: 0.5%;
    font-size: 10px;
}

.cataloguetitle {
    padding: 10px;
}


.menubutton {
    background: none;
    border: none;
    height: 22px;
    transition: .2s;
    font-size: 16px;
    padding-left: 4%;
    color: rgb(26, 135, 207);
}
.menubutton:hover {
    transform: scale(1.1);
}


.tutorialhold {
    padding: 2%;
}
.tutorialtop {
    font-size: 18px;
}
.tutorialbottom {
    font-size: 14px;
}

.offltop {
    text-align: center;
    font-size: 18px;
}
.offlbot {
    text-align: center;
    font-size: 14px;
}


.achievementtier {
    display: flex;
    justify-content: center;
    align-items: center;
}
.achievementbox {
    width: 7%;
    align-items: center;
    margin: .25%;
}

.tooltip {
    position: absolute;
    background-color: black;
    opacity: 0;
    width: 6.5%;
    margin: 0.25%;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.tooltip:hover {
    opacity: 0.8;
}
.achimg {
    width: 100%;
}
.tooltiptop {
    margin: 0;
    font-size: 14px;
}
.tooltipbot {
    margin: 0;
    font-size: 10px;
    padding-bottom: 10%;
}

.achget {
    position: fixed;
    background-color: rgb(187, 124, 6);
    opacity: 0;
    height: 10%;
    width: 22%;
    bottom: 2%;
    left: 1%;
    border-radius: 25px;
}
.achgot {
    opacity: 0.85;
}
.achtop {
    font-size: 17px;
    padding-left: 7%;
    padding-right: 7%;
    color: rgb(63, 45, 5);
}
.achbot {
    font-size: 12px;
    padding-left: 7%;
    padding-right: 7%;
    color: rgb(63, 43, 5);
}




.globalbar {
    height: 30%;
}
.mainpage {
    height: 70%;
}
.offlinescreen {
    height: 70%;
}



.prestigebox {
    height: 1%;
    display: flex;
    justify-content: center;
}
.prestigefish {
    width: 40px;
    height: fit-content;
    padding-top: 1.5%;
    padding-left: 0.5%;
    margin: 0;
}
.prestigecurrent {
    margin: 0;
}


.realfishbone {
    width: 60px;
    height: fit-content;
}
.realtext {
    font-size: 8px;
}

.expbot {
    max-width: 90%;
    word-wrap: break-word;
    align-items: center;
    margin: 5%;
}


.impbot {
    margin-left: 40%;
    margin-right: 40%;
}

.importconf {
    height: 40px;
    width: 5%;
    background-color: white;
    padding: 1px;
    font-size: 20px;
    margin-left: 47.5%;
}
.importgood {
    background-color: green;
}
.importbad {
    background-color: red;
}
